.card {
    width: 20%;
    background-color: #dddddd;
    min-width: 250px;
}

.btn-propb {
    color: #fff;
    background-color: #fe0303;
    border-color: #fe0303;
}

.card-title {
    min-height: 8vh;
}

.card-text {
    min-height: 8vh;
}